div.section-image{
background-image: url(../img/city.jpg);
background-position: center;
background-size:cover;
background-repeat: no-repeat;
z-index: 1;
height: 100%;
z-index: -10;
width: 100%;
height: 100%;
}

div.section-image2{
position:relative;
background-color: rgba(0, 0, 0, 0.7);

}
div.contactLeftSide h2 {
    color:#ffffff;
}
div.contactLeftSide h4  {
    color:#ffffff;
}
div.contactLeftSide p{
    color:#ffffff;
}
