<div class=""style="margin:50px;background-color:#29292e">

<form (ngSubmit)="createOrUpdate()" style="padding:50px;color:white">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text"name="_id"[(ngModel)]="employed._id"class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text"name="Nome"[(ngModel)]="employed.nome"class="form-control">
  </div>
  <div class="form-group">
    <label for="cargo">Cargo</label>
    <input type="text"name="Cargo"[(ngModel)]="employed.cargo"class="form-control">
  </div>
  <input type="submit" value="Enviar" class="btn btn-success">
</form>

</div>
