body{
    background-color: #000;
}
div.Container{
min-width:160px;
min-height:600px;
border:solid 2px white;
overflow: hidden;
display: block;
cursor: pointer;
position:absolute;
margin: 0% 20% 0% 80%;
}
div.BannerPageIntel>img{
  height:100%;
   width:100%;
   -webkit-animation: zoomeffect 14s infinite;
  -moz-animation: zoomeffect 14s infinite;
  animation: zoomeffect 14s infinite;
}

@-webkit-keyframes zoomeffect{
		0%{
			background-position:center;
		  transform:scale(3,3);
		}

		100%{
			background-position:center;
		  transform:scale(1,1);
		}
}
@keyframes zoomeffect{
		0%{
			background-position:center;
		  transform:scale(3,3);
		}

		100%{
			background-position:center;
		  transform:scale(1,1);
		}
}
section.BannerPageWordsChange{
  position: absolute;
  padding: 8px;
  margin-top:-320%;
}

.BannerPageAnimationOne{
  animation-duration:3s;
  animation-delay:1s ;
}

.BannerPageAnimationTwo{
  animation-duration: 2s;
  animation-delay:1200ms;
}
.BannerPageAnimationThree{
  animation-duration:2s;
  animation-delay: 1400ms;
}
.BannerPageAnimationFour{
  animation-duration:2s;
  animation-delay:2000ms;
}
.BannerPageFour{
  position:absolute;
  margin: 50% 0% 0% 2%;
}

div.BannerPageIntelProcessor{
  position: sticky;
  margin: -50% 70% 0% 30%;
}
